<a href="<mt:var name="config.MTMLPadURL">author/<mt:var name="author_id">">
    <mt:var name="author_name">
</a>
<img class="userpic icon-small" src="<mt:var name="author_userpic">" />
<mt:if name="author_external_profile_url"><a href="<mt:var name="author_external_profile_url">"><img class="auth-icon icon-small" src="<mt:var name="static_uri">plugins/MTMLPad/images/<mt:var name="author_auth_type">.png" /></a></mt:if>