<div class="entry-summary">
  <div class="entry-summary-header">
    <a class="entry-summary-title" href="<mt:var name="config.MTMLPadURL"><mt:var name="entry_id">">
        <mt:if name="entry_title">
          <mt:var name="entry_title" escape="html">
        <mt:else>
          mtml: <mt:var name="entry_id" escape="html">
        </mt:if>
    </a>
    <mt:ignore>
      <mt:if name="entry_views"><mt:var name="entry_views"> views</mt:if>
    </mt:ignore>
    <span class="author-summary"><mt:var name="entry_created_on"> by <mt:include name="author_info.tmpl" component="MTMLPad"></span>
  </div>

  <div class="CodeMirror snipet">
    <div class="CodeMirror-gutter">
      <div class="CodeMirror-gutter-text">
      <mt:loop name="entry_summary_lines">
          <pre><mt:var name="__counter__"></pre>
      </mt:loop>
      </div>
    </div>
    <div class="CodeMirror-lines">
      <div style="position: relative; margin-left: 27px;">
      <mt:loop name="entry_summary_lines">
        <pre "style="white-space: pre; word-wrap: normal"><mt:var name="__value__"></pre>
      </mt:loop>
      </div>
    </div>
  </div>


  <mt:loop name="parent">
    Forked from <a href="/<mt:var name="entry_id">"><mt:if name="entry_title"><mt:var name="entry_title"><mt:else>mtml: <mt:var name="entry_id"></mt:if></a> by <a href="/author/<mt:var name="author_id">"><mt:var name="author_name"></a>
  </mt:loop>


<mt:ignore>
<mt:loop name="entry_tags">
<mt:var name="__value__">
</mt:loop>
</mt:ignore>
  <mt:if name="entry_comment_count">
    <mt:var name="entry_comment_count"> comments
  </mt:if>
</div>
