<footer>
Designed by <a href="http://blog.aklaswad.com/">Akira Sawada</a>. Powered by <a href="http://sixapart.jp/movabletype/" target="_brank">Movable Type</a>.
</footer>
<div id="overlay" style="display: none"> </div>
</body>
</html>
