<!DOCTYPE html>
<html lang="ja">
<head>
<title>MTML Pad</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/MTMLPad/CodeMirror2/lib/codemirror.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/MTMLPad/js/codemirror/mtml-mode.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/MTMLPad/js/common.js"></script>
<script type="text/javascript">
<mt:var name="page_script">
</script>
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/MTMLPad/CodeMirror2/lib/codemirror.css" />

<link rel="stylesheet" href="<mt:var name="static_uri">plugins/MTMLPad/css/styles.css" />

</head>
<body>
  <div id="header">
    <a id="logo" href="<mt:var name="config.MTMLPadURL">">MTML Pad</a>
<mt:if name="user">
    <a id="new" href="<mt:var name="config.MTMLPadURL">new/">Create new template</a>
</mt:if>
    <div id="user-box">
      <mt:if name="user">
            <img src="<mt:var name="user_userpic">" />
            <a href="<mt:var name="config.MTMLPadURL">author/<mt:var name="user_id">"><mt:var name="user_name"></a>

             <a href="<mt:var name="config.MTMLPadURL">?__mode=handle_sign_in&amp;logout=1">logout</a>

      <mt:else>
        <a href="#" id="open-login-panel">Login</a>
        <mt:include name="login.tmpl" component="MTMLPad">
      </mt:if>
    </div>
  </div>
