<!DOCTYPE html>
<html lang="ja">
<head>
<title><mt:if name="page_title"><mt:var name="page_title"><mt:else><mt:var name="application_name"></mt:if></title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/MTMLPad/CodeMirror2/lib/codemirror.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/MTMLPad/js/codemirror/mtml-mode.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/MTMLPad/js/common.js"></script>
<script type="text/javascript">
<mt:var name="page_script">
</script>
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/MTMLPad/CodeMirror2/lib/codemirror.css" />
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/MTMLPad/css/styles.css" />

</head>
<body>
  <div id="header">
    <a id="logo" href="<mt:var name="config.MTMLPadURL">">MTMLPad</a>

    <div id="user-box">
      <mt:if name="user">
            <a id="create-new" class="button" href="<mt:var name="config.MTMLPadURL">new/">Create New</a>
            <mt:if name="user_userpic">
              <img class="icon-small" src="<mt:var name="user_userpic" escape="html">" />
            <mt:else>
              <img class="userpic icon-small" src="<mt:var name="static_uri">plugins/MTMLPad/images/default-userpic-50.jpg" />
            </mt:if>

            <a href="#" id="open-usermenu-panel"><mt:var name="user_name" escape="html"></a>
            <div id="usermenu-panel" class="dropdown" style="display: none;">
              <ul>
                <li><a href="<mt:var name="config.MTMLPadURL">author/<mt:var name="user_id">">My Profile</a></li>
                <li><a href="<mt:var name="config.MTMLPadURL">?__mode=handle_sign_in&amp;logout=1">Sign out</a></li>
              </ul>
            </div>
      <mt:else>
        <a href="#" id="open-login-panel">Sign in</a>
        <mt:include name="login.tmpl" component="MTMLPad">
      </mt:if>
    </div>
  </div>
