<mt:include name="header.tmpl" component="MTMLPad">

<div id="content">

  <div id="about">
    MTMLPad は、Movable Typeのテンプレートを貼付けて共有する事が出来るサイトです。
  </div>

  <div id="recent-posts" class="entry-list">
    <h2>Recent Posts</h2>
    <mt:loop name="entries">
        <mt:include name="entry_summary.tmpl" component="MTMLPad" />
    </mt:loop>

    <mt:if name="has_prev">
      <a href="<mt:var name="config.MTMLPadURL">?offset=<mt:var name="prev_offset">">Prev</a>
    </mt:if>
    <mt:if name="has_next">
      <a href="<mt:var name="config.MTMLPadURL">?offset=<mt:var name="next_offset">">Next</a>
    </mt:if>

  </div>

  <div id="news">
    <h2>News</h2>
    <mt:entries blog_ids="6">
        <div class="asset">
          <h3 class="asset-header"><mt:entryTitle></h3>
          <div class="news asset-body">
              <mt:entryBody>
          </div>
        </div>
    </mt:entries>
  </div>
</div>


<mt:include name="footer.tmpl" component="MTMLPad">

