<mt:include name="header.tmpl" component="MTMLPad">

<ul>
<mt:loop name="entries">
<li>
    <a href="<mt:var name="config.MTMLPadURL"><mt:var name="id">"><mt:var name="title"></a> by <mt:include name="author_info.tmpl" component="MTMLPad">
</li>
</mt:loop>
</ul>

<mt:include name="footer.tmpl" component="MTMLPad">

