<mt:setVarBlock name="page_script" append="1">
$( function () {

// Syntax Highlight
var modeLoop = [ 'text', 'mtml', 'mtmloverlay' ];
var currentMode = 1;
var mtml_mode = true;
var codeMirrorOptions = {
  readOnly: true,
  mode: 'mtml',
  lineNumbers: true,
  indentUnit: 0,
  electricChars: false,
  enterMode: 'flat',
  tabMode: 'classic',
  undoDepth: 0,
};

window.editors = [];
$('textarea.snipet').each( function () {
    var textarea = $(this).get(0);
    (function () {
        var editor = CodeMirror.fromTextArea(textarea, codeMirrorOptions );
        window.editors.push(editor);
    })();
});
});

</mt:setVarBlock>

<mt:include name="header.tmpl" component="MTMLPad">

<div id="content" class="author-view-content">
  <div id="author-info">
    <div id="author-userpic">
      <img class="userpic-large" src="<mt:var name="author_userpic">"/>
    </div>
    <h1><mt:var name="author_name"><mt:if name="author_external_profile_url"><a href="<mt:var name="author_external_profile_url">"><img class="auth-icon icon-small" src="<mt:var name="static_uri">plugins/MTMLPad/images/<mt:var name="author_auth_type">.png" /></a></mt:if></h1>
    <ul class="author-description">
      <li>posted <mt:var name="author_post_count"> entries</li>
    </ul>
  </div>

<mt:loop name="author_entries">
  <div class="entry-summary">
    <div class="entry-summary-header">
      <a href="<mt:var name="config.MTMLPadURL"><mt:var name="entry_id">"><mt:var name="entry_title"></a><span class="author-summary">by <mt:include name="author_info.tmpl" component="MTMLPad"></span>
    </div>
    <textarea class="snipet"><mt:var name="entry_text_head"></textarea>
  </div>
</mt:loop>

</div>
<mt:include name="footer.tmpl" component="MTMLPad">
