<mt:setvarblock name="page_title">
    <mt:if name="entry_id">
      <mt:if name="entry_title">
        <mt:var name="entry_title" escape="html">
      <mt:else>
        mtml <mt:var name="entry_id">
      </mt:if>
    <mt:else>
      Create New Post
    </mt:if>
 | <mt:var name="application_name">
</mt:setvarblock>
<mt:setVarBlock name="page_script" append="1">
$( function () {

// Syntax Highlight
var modeLoop = [ 'text', 'mtml', 'mtmloverlay' ];
var currentMode = 1;
var mtml_mode = true;
var codeMirrorOptions = {
  mode: 'mtml',
  lineNumbers: true,
  indentUnit: 0,
  electricChars: false,
  enterMode: 'flat',
  tabMode: 'classic',
  undoDepth: 2000,
  onCursorActivity: function (editor, changed) {
    var cursor = editor.getCursor();
    jQuery('#editor-state').text(
      'line: ' + cursor.line + ' : ' + cursor.ch
    );
  }
};

var textarea = $('#editor').get(0);
var editor = CodeMirror.fromTextArea(textarea, codeMirrorOptions );


// Auto Preview
var last_text = '';
var requesting = false;
var do_preview = function (text) {
    if ( requesting ) {
        return;
    }
    requesting = true;

    $.ajax( '<mt:var name="config.MTMLPreviewURL">', {
        type: 'POST',
        data: {
            template: text
        },
        success: function ( data, textStatus, jqXHR ) {
            $('#preview-state').text('').hide();
            $('#preview').removeClass('error').text(data);
            requesting = false;
        },
        error: function ( jqXHR, textStatus, errorThrown ) {
            $('#preview-state').text( jqXHR.responseText || 'Unknown error.' ).show();
            $('#preview').addClass('error');
            requesting = false;
        }
    });
}

var preview = function () {
    var text = editor.getValue();
    if ( last_text !== text ) {
        last_text = text;
        do_preview(text);
    }
}

var timer = setInterval( preview, 500 );


// Actions
$('#save').click( function () {
    $('#text').val( editor.getValue() );
    var summary = '';

    editor.setSelection({ line: 0, ch: 0 }, { line: 0, ch: 0 });
    $('div.CodeMirror-lines pre:not(.CodeMirror-cursor)')
      .each( function ( idx, elm ) {
        if ( idx > 2 ) return;
        summary += $(elm).html() + "\n";
      });
    $('#summary').val( summary );
});

// Actions
$('#delete').click( function () {
    if ( confirm('Are you sure you want to delete this entry?') )
        return true;
    return false;
});

});

</mt:setVarBlock>

<mt:setVarBlock name="entry_title_html">
<mt:if name="new_object">
          <input name="title" id="title" placeholder="Title" />
<mt:elseif name="entry_is_mine">
          <input
            name="title"
            id="title"
            placeholder="Title"
            <mt:if name="entry_title">value="<mt:var name="entry_title" escape="html">"</mt:if>
            <mt:unless name="entry_editable">disabled="disabled"</mt:unless>
          />
<mt:else>
          <h1><mt:var name="entry_title" escape="html"></h1>
</mt:if>
</mt:setVarBlock>

<mt:include name="header.tmpl" component="MTMLPad">
  <div id="content" class="editor-view-content">
    <form action="<mt:var name="config.MTMLPadURL">" method="POST">

      <div class="entry-summary-header">
        <mt:var name="entry_title_html">
        <mt:loop name="parent">
          Forked from <a href="/<mt:var name="entry_id">"><mt:if name="entry_title"><mt:var name="entry_title"><mt:else>mtml: <mt:var name="entry_id"></mt:if></a> by <a href="/author/<mt:var name="author_id">"><mt:var name="author_name"></a>
        </mt:loop>

  <mt:if name="entry_id">
        <span class="author-summary">by <mt:include name="author_info.tmpl" component="MTMLPad"></span>
  </mt:if>
      </div>
      <div id="editor-area">
        <textarea
            name="editor"
            id="editor"
            <mt:unless name="entry_editable">readonly="readonly"</mt:unless>
        ><mt:if name="entry_text_raw"><mt:var name="entry_text_raw" encode_html="1"></mt:if></textarea>
      </div>
      <div id="preview-area">
        <pre id="preview"></pre>
      </div>
      <div id="actions">
          <input type="hidden" name="__mode" value="save" />
    <mt:if name="entry_id">
          <input type="hidden" name="id" value="<mt:var name="entry_id">" />
    </mt:if>
          <input type="hidden" name="text" id="text" />
          <input type="hidden" name="summary" id="summary" />
        <mt:if name="user_id">
          <button class="button" id="save"><mt:if name="entry_id"><mt:if name="entry_is_mine">Update<mt:else>Fork and save</mt:if><mt:else>Save</mt:if></button>
          <mt:if name="entry_is_mine">
            <a class="button" id="delete" href="/delete/<mt:var name="entry_id">">Delete</a>
          </mt:if>
        </mt:if>
      </div>
<mt:ignore>
<mt:loop name="entry_tags">
<mt:var name="__value__">
</mt:loop>
</mt:ignore>
    </form>

    <div id="comments">
      <h2>Comments</h2>
      <mt:loop name="comments">
      <div class="entry-summary">
        <div class="entry-summary-header">
          <span class="author-summary"><mt:var name="comment_created_on"> by <mt:include name="author_info.tmpl" component="MTMLPad"></span>
        </div>
        <mt:var name="comment_text" escape="html">
      </div>
      </mt:loop>
      <mt:if name="user_id">
      <form action="/" method="POST">
        <input type="hidden" name="__mode" value="save_comment" />
        <input type="hidden" name="entry_id" value="<mt:var name="entry_id">" />
        <textarea name="comment_text"></textarea>
        <input class="button" id="save-comment" type="submit" value="comment" />
      </form>
      </mt:if>
    </div>
  </div>
  <div id="preview-state" style="display: none"></div>

<mt:include name="footer.tmpl" component="MTMLPad">
