<mt:include name="header.tmpl" component="MTMLPad">


<img src="<mt:var name="author_userpic">"/> <mt:var name="author_name"> <mt:var name="author_post_count"> entries
<mt:var name="author_auth_type">
<mt:var name="author_external_profile_url">
<mt:loop name="author_entries">
<li>
    <a href="<mt:var name="config.MTMLPadURL"><mt:var name="id">"><mt:var name="title"></a>
</li>
</mt:loop>
</ul>

<mt:include name="footer.tmpl" component="MTMLPad">
